.reg{
	height: 100%;
	width: 100%;
	font-size: 40px;
	color: black;
}
.reg .shang {
	width: 100%;
	position: absolute;
	top: 10%;
	height: 66%;
	padding: 10px 40px;
	border-radius: 8px;
}

.black{
	position: absolute;
	width: 800%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.2;
}
.shang h2 {
	text-align: center;
	margin-bottom: 20px;
	color:#FEFEFE;
	margin-bottom: 60px;
	font-size: 60px;
}

.reg .shang .put {
	height: 70px;
	width: 266px;
	float: right;
	border: 1px solid #222;
	font-size: 24px;
}

.reg .shang .regbox {
	height: 70px;
	font-size: 24px;
	margin-bottom: 20px;
}

.reg #tologin {
	width: 215px;
	height: 71px;
	line-height: 0px;
	float: right;
	font-size: 30px;
	color: black;
}
.reg .reglabel{
	width: 96px;
	height: 70px;
	display: inline-block;
	text-align: end;
	line-height: 70px;
}
.reg #username{
	width: 456px;
	height: 70px;
}
.reg #password{
	width: 456px;
}
.reg #password1{
	height: 70px;
	width:456px;
}
.reg #email{
	width:456px;
	height: 70px;
}
.reg .loginbtn {
	overflow: hidden;
	width: 408px;
}
.reg .toreg {
	margin-top: 40px;
	height: 70px;
	color: #FEFEFE;
	font-size: 35px;
	text-align: center;
	line-height: 70px;
}
.reg .toreg a{
	color: #ED4141;
}


.shang .code {
	width: 264px;
	margin-right: 10px;
	height: 70px;
}
.fr{
	height: 70px;
	width: 184px;
	text-align: center;
	line-height: 70px;
	background: rgb(51, 51, 51);
	color: #FEFEFE;
	font-size: 40px;
}
.codebox {
	width:560px;
}
.reg label{
	display: inline-block;
	height: 70px;
	width: 96px;
	text-align: end;
	line-height: 70px;
}
